table.table-condensed{
    margin-bottom: 0px;
}
#obhr{
    border-color: black;
    margin: 0px;
    border-width: 2px;
}
nav.navbar-nlg{
    margin-bottom: 0px;
}
#sorderbook td,#borderbook td,#motable td,#mbctable td,#thtable td,#mttable td{
    padding: 1px 2px;
}

#mainchart{
        height:360px;
    }

@media screen and (max-width:760px){
    div.col-xs-12{
        padding-right: 5px;
        padding-left: 5px;
    }
    #mainchart{
        height:240px;
    }
}
