td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
img.logoss{width: 25px;
  height: 25px;
}
img.logos{width: 50px;
  height: 50px;
}
img.qrcode{width: 128px;
  height: 128px;
  margin-left:40px;
  margin-right:50px;
}
div.feature-item .fa{
    color: #710A94;
}
div.news{
margin-top:-20px;
height:35px;
font-size:16px;
}
a.ANNurl{
padding:2px 4px;
color:white;
}
.marquee {
  height:35px; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  padding-top:6px;
  margin-left:50px;
  margin-right:50px;
  /*background: #3C1688;*/
}